.poem-card {
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    height: 15rem;
    overflow-y: auto;
     
     animation: soft-rainbow 50s infinite; 
  }
  
  @keyframes soft-rainbow {
    0%{box-shadow: 6px 12px 4px #fefeff;}	
    10%{box-shadow: 6px 12px 4px #fffbff;}	
    20%{box-shadow: 6px 12px 4px #ebd8d0}
    30%{box-shadow: 6px 12px 4px #EAC9C1;}
    40%{box-shadow: 6px 12px 4px #d3ab9e}
    50%{box-shadow: 6px 12px 4px pink;}
    60%{box-shadow: 6px 12px 4px #d3ab9e}
    70%{box-shadow: 6px 12px 4px #EAC9C1;}
    80%{box-shadow: 6px 12px 4px #ebd8d0}
    90%{box-shadow: 6px 12px 4px #fffbff;}
    100%{box-shadow: 6px 12px 4px #fefeff;}
  }

  .favorite-btn {
    background: white;
    border: none;
  }

  .favorite-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .disabled-favorite {
    background: red;  
    cursor: not-allowed;
  }

  .disabled-favorite:hover {
    background: grey;
  }