@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  /* Standar Syntax */
  /* animation: soft-rainbow 50s infinite;  */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear, soft-rainbow infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: 15vh; */
  /* max-height: 17vh; */
}

.audio-player {
  display: flex;
  justify-content: center;
  text-align: center;
}

.Nav-links {
  display: flex;
  justify-content: space-around;
}


.title-text, a { text-decoration: none; color:white; }
.title-text, a:visited { text-decoration: none; color:white; }
.title-text, a:hover { text-decoration: none; color:white; }
.title-text, a:focus { text-decoration: none; color:white; }
.title-text, a:hover, a:active { text-decoration: none; color:white }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Chrome, Safari, Opera */
@keyframes soft-rainbow {
  0%{box-shadow: 6px 12px 4px #fefeff;}	
  10%{box-shadow: 6px 12px 4px #fffbff;}	
  20%{box-shadow: 6px 12px 4px #ebd8d0}
  30%{box-shadow: 6px 12px 4px #EAC9C1;}
  40%{box-shadow: 6px 12px 4px #d3ab9e}
  50%{box-shadow: 6px 12px 4px pink;}
  60%{box-shadow: 6px 12px 4px #d3ab9e}
  70%{box-shadow: 6px 12px 4px #EAC9C1;}
  80%{box-shadow: 6px 12px 4px #ebd8d0}
  90%{box-shadow: 6px 12px 4px #fffbff;}
  100%{box-shadow: 6px 12px 4px #fefeff;}
}

p > a {
  color: black;
  text-decoration: underline;
}

p > a:hover {
  color: blue;
  text-decoration: none;
}
