.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 20vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-photo {
  
}